

.pagination {
    display: flex;
    justify-content: center;
}

.pagination > li {
    padding: 0 1vmax;
}

.pagination .selected {
    color: #fff;
    border-radius: 2vw;
    background-color:rgb(0,166,237);
}

.previous > a,
.next > a {
    text-decoration: none;
    padding: 0.25vmax 0.5vmax;
    font-size: 1vmax;
    color: black;
}
